.list{
    width: 100%;
    height: 22rem;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    margin-left: -8rem;
}

.option{
    display:flex;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 12rem;
    height: 12rem;
    background-size: cover;
    transition: 0.2s;
    border: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.option>p{
    visibility: hidden;
    
}
.option>img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.option:hover {
    margin-top: 0;
    opacity: 1;
    width: 18rem;
    height: 18rem;
    border-color: white;
    border-style: solid;
    
}

.option:hover p{
    position: relative;
    top: 14rem;
    left: 19rem;
    font-size: 3rem;
    visibility: visible;
    color: honeydew;
    transition: 0.3s;
    white-space: nowrap;
}