
.div1 {
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.85rem;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 12rem;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
   
}


.div11{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div11 > img {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
}

.div12{
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

.div13{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div13 > img {
    height: 2.40rem;
    width: 2.40rem;
    margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
}

.div14{
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

.div15{
    margin-right: 6rem;
    text-align: right;
    background-color: transparent;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .div15{
        margin-right: 25px;
    }

    .div1 {
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 1.85rem;
        margin-top: 0;
        padding: 0;
        width: 100%;
        height: 6rem;
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        margin-bottom: 2rem;
       
    }

   } 